.FMiconbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.img-with-text {
    text-align: center;
    width: 40;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
} 
