body
{
  background-color: rgb(0, 0, 0);
  font-family: "SF Mono", monospace;
  text-align: center;

  margin: 64px auto;
  max-width: 650px;
  left: 0; right: 0;
}

a:link
{
  color: rgb(117, 197, 232);
  background-color: transparent;
  text-decoration: none;
}

nav a
{
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  color: rgb(117, 197, 232);
}
nav a:hover
{
  background-color: rgb(117, 197, 232);
  color: white;
}

header, main, footer
{
  margin: 16px;
  padding: 16px;
  background-color: rgb(47, 47, 47);
}