body{
	text-align:left;
  overflow: hidden;
  background-color: #e5b7e5;
}

#binput {
  background-color: white;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
}

#input {
  font-family:'Courier';
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: calc( 100% - 27px );
  border: none;
  padding: 0;
  overflow: hidden;
  resize: none;
}

#input:focus { 
  outline: none !important;
  border: none;
  box-shadow: none;
}

#toolbar {
    position:fixed;
	top: 0px; left: 0px; width: 100%;
	box-sizing: border-box;
	border: 4px ridge  #746f75;
	font: normal 15px 'Kosugi';
	line-height:19px;
	/*padding: 1px;*/
	background-color: #e5b7e5;
	color:black;
}

#toolbar a	    { color:#9d00b2; }
#toolbar a:hover{ color:#dc00ff; }

#file {
	text-align:center;
	float:left;
	width:120px; height:19px;
	background-color: #111; color:white;
	border-right: 4px ridge  #746f75;
	cursor: help;
}

#file:hover {background-color: #333;}

#edit {
	text-align:center;
	float:left;
	width:120px; height:19px;
	background-color: #111; color:white;
	border-right: 4px ridge  #746f75;
	cursor: help;
}

#edit:hover {background-color: #333;}

#view {
	text-align:center;
	float:left;
	width:120px; height:19px;
	background-color: #111; color:white;
	border-right: 4px ridge  #746f75;
	cursor: help;
}

#view:hover {background-color: #333;}

#format {
	text-align:center;
	float:left;
	width:120px; height:19px;
	background-color: #111; color:white;
	border-right: 4px ridge  #746f75;
	cursor: help;
}

#format:hover {background-color: #333;}

#help {
	text-align:center;
	float:left;
	width:120px; height:19px;
	background-color: #111; color:white;
	border-right: 4px ridge  #746f75;
	cursor: help;
}

#help:hover {background-color: #333;}
